html {box-sizing: border-box; }

*, :after, :before {box-sizing: inherit;}



$color-primary: #F03000;
$primary-font: 'Open Sans', sans-serif;
$secondary-font:'Montserrat', sans-serif;
$background-color: #F0F0F0;

body {
    font-family: $primary-font;
    margin: 0 20px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    font-family: $secondary-font;
}


.logo {
    width: 235px;
    height: 30px;
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    margin: 30px auto;
}

.menu {
    display: block;
    padding:  20px ;
    &__item {
        text-decoration: none;
        color: $color-primary;
        padding: 20px;
        font-family: $secondary-font;
        font-size: 18px;
        &:hover {
            background-color: $color-primary;
            color: white;
        }
    }
}
.tour {
    &__item {
        color: white;
        margin: 20px auto;
        padding: 20px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__big-image {
        height: 240px;
    }
    &__small-image {
        height: 150px;
    }
    &__price {
        flex-grow: 0;
        flex-basis: auto;
        padding: 10px;
        background-color: $color-primary;
    }
    h1 {
        font-size: 28px;
        font-weight: 600;
        font-family: $secondary-font;
        margin-bottom: 16px;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        font-family: $secondary-font;
        margin: 0;
    }
    &__text {
        p {
           font-size: 16px;
           margin: 0;
        }
    }

    &__first {
        background-image: url(/images/palmy.png);
        background-repeat: no-repeat;
    }

    &__second {
        background-image: url(/images/jezero2.png);
        background-repeat: no-repeat;
    }

    &__third {
        background-image: url(/images/nakole.png);
        background-repeat: no-repeat;
    }
}

.services {
    &__item {
        background-color: $background-color;
        display: flex; 
        align-items: flex-start;
        margin: 10px 0;
    }
    &__icon {
        object-fit:scale-down;
        flex-basis: 20%;
        margin: 20px;
    }

    h3 {
        font-size: 18px;
        color: $color-primary;
    }
}

.last-minute {
    &__first {
        background-image: url(/images/lodicka.png);
        background-repeat: no-repeat;
    }
    &__second {
        background-image: url(/images/podkova.png);
        background-repeat: no-repeat;
    }
    &__third {
        background-image: url(/images/zatoka.png);
        background-repeat: no-repeat;
    }
}

