html {box-sizing: border-box; }

*, :after, :before {box-sizing: inherit;}



$color-primary: #F03000;
$primary-font: 'Open Sans', sans-serif;
$secondary-font:'Montserrat', sans-serif;

body {
    font-family: $primary-font;
    margin: 0;
}

.logo {
    width: 235px;
    height: 30px;
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    margin: 30px auto;
}

.menu {
    display: block;
    padding:  20px ;
    &__item {
        text-decoration: none;
        color: $color-primary;
        padding: 20px;
        font-family: $secondary-font;
        font-size: 18px;
        &:hover {
            background-color: #F03000;
            color: white;
        }
    }
}


